<mat-card>
    <mat-card-title>Pedidos</mat-card-title>
    <mat-divider></mat-divider>
    <br><br>


  <mat-form-field>
    <mat-label>Filtrar Pedidos</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex.0034 Jhon">
  </mat-form-field>
  
  <mat-paginator  [pageSize]="5" style-paginator ></mat-paginator>
    <table mat-table [dataSource]="dataSource" matSort matSortActive="Pedido">
  
      <!-- Position Column -->
      <ng-container  matColumnDef="Pedido">
        <th  mat-header-cell *matHeaderCellDef> Pedido </th>
        <td mat-cell *matCellDef="let element"> <span class="order-id">#{{element.id}}</span>  {{element.customerName}} {{element.customerLastName}} 
          <br><span> {{element.orderDate}}</span>
        </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="Total">
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let element"> {{element.total}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="MetododePago">
        <th mat-header-cell *matHeaderCellDef>Metodo de Pago </th>
        <td mat-cell *matCellDef="let element"> {{element.payMethod}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="IddePago">
        <th mat-header-cell *matHeaderCellDef>Id de Pago </th>
        <td mat-cell *matCellDef="let element"> {{element.paymentId}} </td>
      </ng-container>

         <!-- Symbol Column -->
         <ng-container matColumnDef="Estado">
            <th mat-header-cell *matHeaderCellDef>Estado </th>
            <td mat-cell *matCellDef="let element"> {{element.state}} </td>
          </ng-container>

              <!-- Symbol Column -->
         <ng-container matColumnDef="Accion" >
            <th mat-header-cell *matHeaderCellDef>Acción </th>
            <td mat-cell *matCellDef="let row; index as id"><button  mat-icon-button color="accent"  (click)="getRecord(row)">Ver Mas
              <mat-icon>arrow_forward_ios</mat-icon>
            </button> </td>
          </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</mat-card>
  
  <!-- Copyright 2019 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->