.sidenav-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav {
  width: 300px;
}

body{
  margin: 0;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.router-outlet{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex: 1;
}
