/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, sans-serif; }


* {
  box-sizing: border-box;
}


  .spacer {
    flex: 1 1 auto;
  }
  

  mat-icon{
      margin-right: 0.3em;
  }



  .active-list-item {
    background-color: #2B72F0 !important; /* Note: You could also use a custom theme */
    color: #ffffff !important;
  }


  /* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
  .router-outlet{

    display: flex;
    margin-top: 1%;
    width: 1224px;
   

    
  }

  
  table{
    width: 1224px;
  }
  

  
.order-dtl-table {
  width: 1224px;

 
}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
  .router-outlet{

    display: flex;
    margin-top: 1%;
    width: 1824px;
   
  }

  
.order-dtl-table {
  width: 1824px;

 
}

}